.buttonDownload {
	background-color:#008cba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:14px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b6a7d;
}
.buttonDownload:hover {
	background-color:#008cba;
}
.buttonDownload:active {
	position:relative;
	top:1px;
}
